@model IEnumerable<RessourcesVM>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_MainLayout";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var Ressource in Model)
        {
            <div class="carousel-item">
                <img src="@Ressource.Image" class="d-block w-100" alt="@Ressource.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@Ressource.Title</h5>
                    <img src="@Ressource.Image" alt="@Ressource.Title" class="img-fluid mb-2" style="max-width: 50px;">
                    <p>@Ressource.Description</p>
                </div>
            </div>
        }

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
